/* איפוס הגדרות דפדפן */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* הגדרת פונט ורקע */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131324; /* צבע הרקע הכהה של האפליקציה */
  overflow: hidden; /* מונע גלילה של כל העמוד, רק הצ'אט ייגלל */
}

/* עיצוב פס הגלילה (Scrollbar) שיהיה דק ויפה */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #9a86f3; /* הצבע הסגול שלנו */
  border-radius: 0.5rem;
}

/* התאמת גודל הקונטיינר הראשי */
#root {
  height: 100vh;
  width: 100vw;
}